@import "../../../../style/mixins.scss";

.main-container > form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-form {
  @include extrasmall {
    width: 100%;
  }

  @include small {
    width: 70%;
  }

  @include desktop {
    width: 500px;
  }
}

.label {
  font-size: 13px;
  color: rgb(45, 45, 45);
}

.btn-crear-user {
  margin-top: 10px;
}
