<section class="header">
  <article class="container-logo">
    <img
      class="logo"
      src="../assets/images/logo.png"
      alt="Logo Elevator Ride"
    />
    <h4 class="name-company">Elevator Ride</h4>
  </article>
  <article>
    <ul class="lista">
      <li>
        <a routerLink="/home" [routerLinkActive]="'active'">Inicio</a>
      </li>
      <li>
        <a
          class="primary-action"
          routerLink="/auth"
          [routerLinkActive]="'active'"
          >Acceder</a
        >
      </li>
    </ul>
  </article>
</section>
