<section class="main-title">Lleva tu carrera a otro Nivel</section>
<section class="container-section">
  <section class="container-image">
    <img
      class="image"
      src="./../../../assets/images/elevator-people.png"
      alt=""
    />
  </section>
  <article class="continer-article">
    <p class="information">
      Somos el lugar perfecto para elevarte, tenemos ascensores con los mayores
      estándares de seguridad y de la mejor calidad. Hacemos de tus recorridos
      una gran experiencia.
    </p>
    <button nbButton shape="semi-round" hero status="warning">
      Conocer màs
    </button>
  </article>
</section>
